@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 300 5% 98%;
 
    --card: 240 5% 10%;
    --card-foreground: 300 5% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 300 5% 98%;
 
    --primary: 262 84% 60%;
    --primary-foreground: 300 5% 99%;
 
    --secondary: 240 4% 16%;
    --secondary-foreground: 300 5% 98%;
 
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
 
    --accent: 240 4% 16%;
    --accent-foreground: 300 5% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 300 5% 98%;

    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 262 84% 60%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-heading {
    font-family: 'Cinzel', serif;
  }
}

.perspective-1000 {
    perspective: 1000px;
}
.transform-style-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.transform-rotate-y-180 {
    transform: rotateY(180deg);
}
